#ignore all files containing "secret" in its name
*secret* 
#ignore all files located at local folder
*local/*
*images/*

*__pycache__

#ignore the python environment
*env
*env-cpu

!local/.gitkeep
Safety-AI-V2/tests/yolov8x-pose-p6.pt
Safety-AI-V2/tests/yolov8x-pose.pt
