# Ignore everything in the below directories
images/*
videos/*
videos/videos_to_process/*
json_files/*
yolo_models/*
output_video.mp4
utils/training_data*
# Except the directory itself and the .gitkeep file
!images/src/.gitkeep
!json_files/.gitkeep
!yolo_models/.gitkeep
!videos/videos_to_process/.gitkeep