# Ignore everything in the below directories
images/*
videos/*
json_files/*
yolo_models/*
# Except the directory itself and the .gitkeep file
!images/.gitkeep
!videos/.gitkeep
!json_files/.gitkeep
!yolo_models/.gitkeep
